table{
    background-color: yellow;
    border: 1px solid black;
    /* border-collapse: collapse; */
}
th,tr,td{
	border:1px solid black;
}
#cap{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}